 <header class=" py-5" style="background-color: rgb(11, 103, 103);">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder" style="font-size: 55px;">BuyCart</h1>
                    <p class="lead fw-normal text-white-50 mb-0" style="font-size: 30px;">Buy your favorite cart with BuyCart</p>
                </div>
            </div>
        </header>